<div class="stations-page">
  <div class="section-inner flexbox vertical stretch">
    <div class="section-title">
      <!-- center the title -->
      <div class="stations-title">
        AVAILABLE STATIONS
      </div>

    </div>  
    <div class="flexbox vertical stretch">
      <% if @stations.present? %>

        <!-- make the stations like button shaped -->
        <div class="grid-item">
        <div class="grid-container">
        
       
        <%= render(partial: "trips/rentalform", collection: @stations, as: :station) %>
     
        
        </div>
        </div>

      <% else %>
      <div class="empty">
        No stations found.
      </div>
      <% end %>
      <%= link_to "<button class = 'record-row2'> RETURN TO MAIN PAGE </button>".html_safe, root_path %>
    </div>
	</div>
</div>
