<div class="record-row  flexbox vertical stretch">
  <%= station.name %> <br> Total Bikes:<%= station.docked_bikes.count%>
  <% @identifier = station.identifier %>
  
  <div class="button-container" style="display: flex; gap: 10px;">
        <%= link_to "<button class='record-row2'>Start Trip</button>".html_safe, stations_show_path(identifier: station.identifier)%>
  

        <%= link_to stations_index_path(identifier: station.identifier) do %>
            <button id="return-bike-btn" class="record-row2">End Trip</button>
        <% end %>
  </div>
</div>