<div class="stations-page">
  <div class="section-inner flexbox vertical stretch">
    <div class="stations-title">
       <%= @current_station.name %>
    </div>  
    <div class="flexbox vertical stretch">
      <%if @current_station.docked_bikes.present? %>
        <!-- make the stations like button shaped -->
        <div class="grid-item">
        <div class="grid-container">
        
       
        <%= render(partial: "bikes/row", collection: @bikes, as: :bike) %>
     
        
        </div>
        </div>
        <div class = "return-stations-button">
          <p><%= link_to('Back to Stations', stations_index_path) %></p>
        </div>
      <% else %>
        <div class="empty">
          No bikes found.
        </div>
      <% end %>


    </div>
	</div>
</div>

