<div class="page-section flexbox vertical stretch">
  <div class="section-inner flexbox vertical stretch">
    <div class="section-title">
       <%= @current_station.name %>  current bikes
    </div>  
    <div class="flexbox vertical stretch">
      <%if @current_station.docked_bikes.present? %>
        <!-- make the stations like button shaped -->
        <div class="grid-item">
        <div class="grid-container">
        
       
        <%= render(partial: "bikes/row", collection: @bikes, as: :bike) %>
     
        
        </div>
        </div>
      <% else %>
        <div class="empty">
          No stations found.
        </div>
      <% end %>


    </div>
	</div>
</div>

