<div class="page-section flexbox vertical stretch">
  <div class="section-inner flexbox vertical stretch">
    <div class="section-title">
      Welcome to ValetBike, we are happy to help!
    </div>  
   </div>
   <li><%= link_to("Register", "/register") %></li>
   <li><%= link_to("Login", "/login") %></li>
</div>