<div class="page-section flexbox vertical stretch">
  <div class="section-inner flexbox vertical stretch">
    <div class="section-title">
      Account Information for <%= current_user.email %>
    </div> 
    <%= button_to "Sign out", destroy_user_session_path, method: :delete %> 
  </div>
</div>