<div class="page-section flexbox vertical stretch">
  <div class="section-inner flexbox vertical stretch">
  <!-- Welcome to Valet Bike Title -->
  <!-- If the User is Signed In (if user_signed_in?) -->
    <!-- Placeholder for Map-->
    <!-- Link to "Account Information" Page -->
  <!-- Else (If user is not signed in) -->
    <!-- Link to Log In-->
    <!-- Link to Register -->
  <!-- End -->
    </div>
</div>
