<div class="page-section flexbox vertical stretch">
  <div class="section-inner flexbox vertical stretch">
  <% if user_signed_in? %> 
    <div class="section-title">
      Welcome to ValetBike, <%= current_user.firstName %>
    </div> 
    <li><%= link_to("My Account Info", {controller: 'users', action: 'show'}) %></li>  
    <h3>MAP OF STATIONS</h3>
    <div style="max-width:100%;list-style:none; transition: none;overflow:hidden;width:500px;height:500px;"><div id="my-map-canvas" style="height:100%; width:100%;max-width:100%;"><iframe style="height:100%;width:100%;border:0;" frameborder="0" src="https://www.google.com/maps/embed/v1/place?q=Northampton,+MA,+USA&key=AIzaSyBFw0Qbyq9zTFTd-tUY6dZWTgaQzuU17R8"></iframe></div><a class="embedded-map-code" href="https://kbj9qpmy.com/hrn" id="auth-map-data">InMotion Hosting</a><style>#my-map-canvas img{max-height:none;max-width:none!important;background:none!important;}</style></div>
  <% else %>
    <div class="section-title"> Welcome to ValetBike!</div>
    <li><%= link_to("Sign Up", {controller: '/devise/registrations', action: 'new'}) %></li> 
    <li><%= link_to("Login", {controller: '/devise/sessions', action: 'new'}) %></li> 
  <% end %>
  </div>
</div>
