<div class="page-section flexbox vertical stretch">
  <div class="section-inner flexbox vertical stretch">
  <% if user_signed_in? %> 
    <div class="section-title">
      Welcome to ValetBike <%= current_user.email %>
    </div> 
    <p> MAP GOES HERE </p>
    <p> Link to "Account Information" Page </p>
  <% else %>
    <div class="section-title"> Welcome to ValetBike!</div>
    <li><%= link_to("Sign Up", {controller: '/devise/registrations', action: 'new'}) %></li> 
    <li><%= link_to("Login", {controller: '/devise/sessions', action: 'new'}) %></li> 
  <% end %>
  </div>
</div>
