<!DOCTYPE html>
<html>
    <div class="record-row flexbox vertical stretch">
     <p> Bike  <%=bike.identifier%> </p>
     <%= link_to "<button class='record-row2'>Rent Bike</button>".html_safe,
     bikes_index_path%>
    </div>
    <!-- lists the bikes -->
   
        
</html>