<!DOCTYPE html>
<html>
    <div class="record-row <%= cycle "odd", "even", name: "row-cycler" %> flexbox vertical stretch">
        <%=bike.identifier%> Bike 
    </div>
    <!-- lists the bikes -->
   
        
</html>