<div>
  <h1 class="font-bold text-4xl">Book Your Ride</h1>
  <% @current_station = Station.find(params[:station_id].to_i) %>
  <p>Booking from <%= @current_station.name%></p>
  <p>To change your station update the id number in the url.</p>
  <h2>1. Chose a bike </h2>
    <form>
        <label for "bike_id">Please enter a bike ID:</label>
        <input type="text" id="bike_id" name="bike_id"><br>
        <input type="submit" value="submit">
    </form>
</div>