<!DOCTYPE html>
<html>
  <head>
    <title>Meet the Team</title>
  </head>

  <body>
    <div class="blue-section">
      <h1>Meet the Team</h1>
      <%= image_tag("team.JPG", alt: "Team Image", class: "team-image") %>
    </div>

    <div class="white-section">
      <div class="team-card">
        <h2><b>Maggie</b></h2>
        <p>mneedham@smith.edu</p>
        <p>Computer Science & Music</p>
      </div>
      <div class="team-card">
        <h2><b>Nafisa</b></h2>
        <p>nmohamed@smith.edu</p>
        <p>Smith College</p>
        <p>Class of 2026</p>
        <p>Computer Science</p>
      </div>
      <div class="team-card">
        <h2><b>Fernanda</b></h2>
        <p>jaltamiranobello@smith.edu </p>
        <p>Smith College</p>
        <p>Class of 2026</p>
        <p>Computer Science</p>
      </div>
      <div class="team-card">
        <h2><b>Mackenzie</b></h2>
        <p>mmartin@smith.edu</p>
        <p>Smith College</p>
        <p>Computer Science</p>

      </div>
      <div class="team-card">
        <h2><b>Maria</b></h2>
        <p>igart24m@mtholyoke.edu</p>
        <p>Mount Holyoke College</p>
        <p>Class of 2027</p>
        <p>Computer Science</p>
      </div>
    </div>
  </body>
</html>