<h1> This will be a confirmation page for ending the trip and charging the card; it will be processed in payments - update </h1>
<h2> Visit this page with http://localhost:3000/payments/:id/edit </h2>
<div>
  <h1 class="font-bold text-4xl">Payments#edit</h1>
  <p> This page will confirm the amount to be charged</p>
</div>
