<div>
  <h1 class="font-bold text-4xl">Payments#new</h1>
  <p>Find me in app/views/payments/new.html.erb</p>

  <%= form_with do %>
  <label class="amount">
      <span>Amount: $5.00</span>
  </label>

  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
    data-description="A month's subscription"
    data-amount="500"
    data-locale="auto">
  </script>
<% end %>

</div>
