<div class="confirmation-container">
  <div class="left-section">
    <img src="<%= asset_path('bikes.png') %>" alt="People Riding Bikes">
  </div>
  <div class="right-section">
    <h1>YOU ARE ALL SET!</h1>
    <%= link_to "GO BACK", { controller: '/home', action: 'main' }, class: "go-back-button" %>
  </div>
</div>
