/************************************/
/*       Universal Page Style       */
/************************************/

.page-section {
  width: 100%;
}

/************************************/
/*       Welcome Page               */
/************************************/
.landing-page {
  font-family: 'Montserrat', sans-serif;
  color: #333;
}

.page-section .section-inner {
  margin-right: 1.4em;
  margin-left: 1.4em;
}

.page-section .section-title {
  font-family: var(--title-font);
  font-weight: 500;
  font-size: 2.5em;
  margin-bottom: 1em;
}

.station-button {
  padding: 0.5em 1.25em 0.5em 1.25em;
  font-size: 0.70em;
  line-height: 1.75em;
  border-radius: 25px;
  background: #ffd1dc;
}

/* SHOW STATIONS PAGE */
.stations-title{
  background-color: #ffccd5;
  font-family: 'monaco', monospace;
  color: #ff0055;
  font-size: 3.0rem;
  font-weight: bold;
  height: 10vh;
  width: 100vw;
  text-align: center;
}

.stations-page{
  height: 100vh;
  width: 100vw;
}

/***********************************/
/*         Responsiveness          */
/***********************************/

@media (max-width:48em) {
  .page-section {
    margin-top: 3em;
  }

  .page-section .section-title {
    font-size: 1.9em;
    margin-bottom: .6em;
  }

}


.grid-container {
  display: grid;
  gap: 50px 100px;
  grid-template-columns: auto auto auto;
  padding: 10px;
}

.grid-item {
  background-color: rgb(244, 239, 243);
  border: 1px solid rgba(0,0,0,0);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.center-section-title{
  text-align: center;
}
