
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");


<body>
  <% if user_signed_in? %>
    <!-- Top Navbar -->
    <div class="topnav" id="myTopnav">
      <%= image_tag("bikeLogo.png", alt: "Logo", class: "logo") %>
      <span class="valetbike">VALETBIKE</span>
      <div class="nav-links">
        <%= link_to "My Account", edit_user_registration_path, class: "nav-link" %>
        <div class="dropdown">
          <button class="dropbtn">Dropdown</button>
          <div class="dropdown-content">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
          </div>
        </div>
        <%= link_to "About", "#about", class: "nav-link" %>
      </div>
    </div>
  <% end %>

  <!-- Main Content -->
  <div id="site-container">
    <%= yield %>
  </div>

  <!-- Footer -->
  <footer class="footer">
    <ul class="menu">
      <li><a class="menu__link" href="#">Home</a></li>
      <li><a class="menu__link" href="#">About</a></li>
      <li><a class="menu__link" href="#">Services</a></li>
      <li><a class="menu__link" href="#">Team</a></li>
      <li><a class="menu__link" href="#">Contact</a></li>
    </ul>
    <p>&copy;2024 ValetBike | All Rights Reserved</p>
  </footer>
</body>
